<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<body>
  <main class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h1 class="titulo">Manitos Creativas</h1>
      </div>
    </div>

    <div class="row galeria">
      <div class="col s12 m4 l3">
        <div class="material-placeholder">
          <img
            src="/assets/images/IMG_20230429_142042-removebg-preview.png"
            alt=""
            class="responsive-img materialboxed"
            data-caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          />
        </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="material-placeholder">
          <img
            src="/assets/images/IMG_20230429_141634-removebg-preview.png"
            alt=""
            class="responsive-img materialboxed"
            data-caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          />
        </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="material-placeholder">
          <img
            src="/assets/images/IMG_20230429_141902-removebg-preview.png"
            alt=""
            class="responsive-img materialboxed"
            data-caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          />
        </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="material-placeholder">
          <img
            src="/assets/images/IMG_20230429_142042-removebg-preview.png"
            alt=""
            class="responsive-img materialboxed"
            data-caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          />
        </div>
      </div>

   

      <div class="col s12 m4 l3">
        <div class="material-placeholder">
          <img
            src="/assets/images/IMG_20230429_142701-removebg-preview.png"
            alt=""
            class="responsive-img materialboxed"
            data-caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          />
        </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="material-placeholder">
          <img
            src="/assets/images/IMG_20230429_143629-removebg-preview.png"
            alt=""
            class="responsive-img materialboxed"
            data-caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          />
        </div>
      </div>

     
     
      <div class="col s12 m4 l3">
        <div class="material-placeholder">
          <img
            src="/assets/images/v2-removebg-preview.png"
            alt=""
            class="responsive-img materialboxed"
            data-caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          />
        </div>
      </div>
    </div>
  </main>
</body>
