<div class="card-footer">
    <div class="container-fluid p-5 bg-darktext-white text-center">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <address>
              MANITOS CREATIVAS <br>
               D: Av. Los Rosales 122, <br>
                28021 Madrid <br>
                 T:
              914-123-456 
              <br> E: info@misitio.com <br> <br>  <br>
               LUN-VIE: 7:00 - 22:00   <br> SÁBADOS:
              8:00 - 22:00 
            <br> DOMINGOS: 8:00 - 17:00 <br> <br> <br>
             <a href="contactos"> Preguntas frecuentes/   </a><br>
           
            </address>
          </div>
          <div class="col">
            <form class="row g-3">
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputEmail4" />
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label"
                  >Nombre</label
                >
                <input
                  
                  class="form-control"
                  id="inputPassword4"
                />
              </div>
            
              <div class="col-12">
                <label for="inputAddress2" class="form-label"
                  >Asunto </label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress2"
                  placeholder=""
                />
              </div>
              <div class="col-m-6">
                <label for="inputCity" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="inputCity" />
              </div>
            
              <div class="col-12">
             
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1994.9056073657796!2d-78.4699519!3d-0.1081339!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1682916923487!5m2!1ses!2sec"
      width="1100"
      height="600"
      style="border: 1px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>