<div class="card">
    <div class="card-header">
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <img
                class="a"
                src="/assets/images/IMG_20230429_141439-removebg-preview.png"
                class="img-thumbnail"
                alt="..."
              />

              <!-- Botonmodal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
              Abaturc
              </button>

              <!-- Modal1 -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Abaturc
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Siempre con buenas intenciones para ayudar con cualquier trabajo que se quiera emprender.
                      </div>
                    <div class="modal-footer">
                      
                      
                        
                      <a class="btn btn-info" href="catalogo"> salir</a>
                    </div>
                  </div>
                </div>
              </div>
            </h3>
          </div>
          <div class="col-sm-4">
            <h3>
              <img
                class="b"
                src="/assets/images/IMG_20230429_141634-removebg-preview.png"
                class="img-thumbnail"
                alt="..."
              />
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
              Igor duende
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Igor
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Es el duende que trae suerte, es uno de los más queridos y buscados.
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-info" href="catalogo"> salir</a>
                    </div>
                  </div>
                </div>
              </div>
            </h3>
          </div>
          <div class="col-sm-4">
            <h3>
              <img
                class="c"
                src="/assets/images/IMG_20230429_141902-removebg-preview.png"
                class="img-thumbnail"
                alt="..."
              />
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
              Jurry
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Jurry
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Le encanta jugar y siempre se relaciona con los más chicos.
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-info" href="catalogo"> salir</a>
                    </div>
                  </div>
                </div>
              </div>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <img
                class="d"
                src="/assets/images/IMG_20230429_142042-removebg-preview.png"
                class="img-thumbnail"
                alt="..."
              />
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
              Knocker
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Knocker
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">Este nombre se refiere a un duende golpeador. Tiene una gran fuerza con el pico y el martillo. El mito cuenta que si se escucha al ser dando golpes con el martillo, esto quiere decir que vas a tener muy buena suerte.</div>
                    <div class="modal-footer">
                      <a class="btn btn-info" href="catalogo"> salir</a>
                    </div>
                  </div>
                </div>
              </div>
            </h3>
          </div>
          <div class="col-sm-4">
            <h3>
              <!-- Button trigger modal -->

              <img
                class="e"
                src="/assets/images/IMG_20230429_142641-removebg-preview.png"
                class="img-thumbnail"
                alt="..."
              />
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
              Kobold
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Kobold
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Ser pequeño que se origina en Irlanda y le encanta hacer travesuras. Crean zapatos y de allí proviene el significado de su nombre: "el que hace un zapato".
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-info" href="catalogo"> salir</a>
                    </div>
                  </div>
                </div>
              </div>
            </h3>
          </div>
          <div class="col-sm-4">
            <h3>
              <img
                class="f"
                src="/assets/images/IMG_20230429_142701-removebg-preview.png"
                class="img-thumbnail"
                alt="..."
              />
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
              Muqui             
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Muqui
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">Son expertos en la minería, forman parte de la mitología de los Andes de Bolivia, Perú y Ecuador.</div>
                    <div class="modal-footer">
                      <a class="btn btn-info" href="catalogo"> salir</a>
                    </div>
                  </div>
                </div>
              </div>
            </h3>
          </div>
        </div>
      </div>
    </div>