<div class="card-footer">
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-4">
          <h3>
            <img
              class="g"
              src="/assets/images/jr3.jpg"
              class="img-thumbnail"
              alt="..."
            />
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Agua Marina
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Agua Marina
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">Lavarse la cara con un jabón artesanal hecho con agua marina es perfecto para eliminar toxinas, revitalizar el rostro, mejorar la circulación de la sangre</div>
                  <div class="modal-footer">
                  
                  </div>
                </div>
              </div>
            </div>
          </h3>
        </div>
        <div class="col-sm-4">
          <h3>
            <img
              class="h"
              src="/assets/images/javor2.jpg"
              class="img-thumbnail"
              alt="..."
            />
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
             Frutas de loto
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Frutas de loto
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    impia e hidrata tu piel con nuestro Jabón Líquido de aroma exótico a Pomelo Rosado, una fruta mestiza que equilibra y refresca</div>
                  <div class="modal-footer">
                   
                  </div>
                </div>
              </div>
            </div>
          </h3>
        </div>
        <div class="col-sm-4">
          <h3>
            <img
              class="i"
              src="/assets/images/jr1.jpg"
              class="img-thumbnail"
              alt="..."
            />
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Perlas de Jabon
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Perlas de Jabon
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">. · La mejor selección de fragancias. · Gran espumado. · Contiene glicerina. </div>
                  <div class="modal-footer">
              
                    
                  </div>
                </div>
              </div>
            </div>
          </h3>
        </div>
      </div>
    </div>
  </div>

