

<main class="cuerpo">

    <div class="c1">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        

        <a class="c2" href=" catalogo">Manitos Creativas  </a>
        <p class="c3"> ¿En que puedo ayudarte ?</p> 
        <div class="boton">
          <button>
            <a class="btn btn-info" href="home"> regresar</a>
          </button>
        </div>
      </div>
        
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-4">
            <h3>Visitanos</h3>
            <address>
                Manitos Creativas <br>
                D: Av. Los Rosales 122, <br>
                 28021 Madrid
            </address>
          </div>
          <div class="col-sm-4">
            <h3>Horarios</h3>
            <address>
                T:
                914-123-456 
                <br> E: info@misitio.com
            </address>
          </div>
          <div class="col-sm-4">
            <h3>cursos</h3>        
            <address>
                LUN-VIE: 7:00 - 22:00   <br> SÁBADOS:
                8:00 - 22:00 
              <br> DOMINGOS: 8:00 - 35:00
            </address>
          </div>
        </div>
      </div>
</main>
<app-footer></app-footer>
