<div class="card-footer">
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-4">
          <h3>
            <img
              class="j"
              src="/assets/images/vr3.jpg"
              class="img-thumbnail"
              alt="..."
            />
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
            Tina de Luz
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Tina de Luz
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body"> Tina de Luz</div>
                  <div class="modal-footer">
               
                  </div>
                </div>
              </div>
            </div>
          </h3>
        </div>
        <div class="col-sm-4">
          <h3>
            <img
              class="k"
              src="/assets/images/vr2.jpg"
              class="img-thumbnail"
              alt="..."
            />
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
            Mañanitas
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal" id="exampleModalLabel">
                      La aliteración de "E" crea un nombre memorable. Ideal para velas con estilo astrológico.
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">...</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      regresar
                    </button>
                    <button type="button" class="btn btn-primary">
                      inició
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </h3>
        </div>
        <div class="col-sm-4">
          <h3>
            <img
              class="l"
              src="/assets/images/vr1.jpg"
              class="img-thumbnail"
              alt="..."
            />
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
            Esencia Estelar
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <h6>
                  xsfdvgfdgvf
                </h6>
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                    xcvcvcxvcxvcxv
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    Esencia Estelar</div>
                  <div class="modal-footer">
                    
                  </div>
                </div>
              </div>
            </div>
          </h3>
        </div>
      </div>
    </div>
  </div>