<main class="cuerpo">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <main>
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <img src="/assets/images/POERATDA3.jpg" />
                </div>
                <div class="col">
                  <h1 class="">Clases Particulares en línea</h1>
                  <h5 class="">
                    Aprende técnicas Fáciles Para la Elaboración de tus
                    Manualidades
                  </h5>
                </div>
              </div>
            </div>
          </main>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <h1 class="h1">Nuestra Colección</h1>
            <p class="p">¡Tus ideas Hecho realidad!</p>
            <div class="boton">
              <button>
                <a class="btn btn-info" href="catalogo"> catalogo</a>
              </button>
            </div>
          </div>
  
          <div class="container mt-5">
            <div class="row">
              <div class="col-sm-4">
                <h3><a class="a" href="cotalogo"> Velas Aromaticas</a></h3>
  
                <img
                  src="/assets/images/vr4 (1).jpg"
                  class="img-thumbnail"
                  alt="..."
                />
              </div>
              <div class="col-sm-4">
                <h3><a class="a2" href="catalogo"> Jabones Aromaticos</a></h3>
  
                <img
                  src="/assets/images/jr1.jpg"
                  class="img-thumbnail"
                  alt="..."
                />
              </div>
              <div class="col-sm-4">
                <h3><a class="a3" href="catalogo">Duendes</a></h3>
  
                <img
                  src="/assets/images/PORTADA.jpg"
                  class="img-thumbnail"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
  