<div class="card">
    <div class="card-header">
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <img
                class="a"
                src="/assets/images/pexels-kevyn-costa-16469779.jpg"
                class="img-thumbnail"
                alt="..."
              />
            </h3>
          </div>
          <div class="col-sm-8">
            <h6 class="h6">hola</h6>
            <h2 class="h2">Mi Nombre  es Maria</h2>
  
            <p class="parrafo">
              Soy una mujer emprendedora llevo 35 años  realizando todo tipo de manualidades  desde mis inicios realizaba trabajos de muñequería y porcelana con mucha dedicación y amor a este sueño empecé a dar clases y formar a mujeres y hombres emprendedores con el  uso de porcelana fría nos ayuda a llevar nuestra imaginación al limite el uso de fragancia en la elaboración de jabones mantendrás tu entorno cálido y con la ayuda de velas el ambiente de tu hogar y trabajo se sentirá en un confort te invito a ser parte de este proyecto donde te beneficiara y podrás emprender con éxito tu propio negocio.
  
      
            </p>
            <a href="catalogo">ver mi trabajo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
      <div class="col">
          
          <div class="card" style="width:400px">
              <img class="card-img-top" src="/assets/images/jabonescontac.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">
                  Velas Generadoras de Energía 
                </h4>
                <p class="card-text">
                  En tus manos esta la magia para crear,  con el uso correcto de las técnicas en la elaboración de  jabones y velas que neutralicen toda mala energía, generando y transformando tu día, de tu familia en el aroma que emite tus productos se reflejara un cambio en tu vida.</p>
                <a href="home" class="btn btn-primary">Inició</a>
              </div>
            </div>
  
  
  
  
      </div>
      <div class="col">
                 
          <div class="card" style="width:400px">
              <img class="card-img-top" src="/assets/images/PORTADA2.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">Duende Fortuna</h4>
                <p class="card-text">Desde sus inicios el tener un duende en tu negocio, o en tu hogar, te atraerá más suerte y fortuna, con técnicas sencillas y mucha imaginación podrás elaborar duendes y aprender que tiene más allá de un mito.</p>
                <a href="home" class="btn btn-primary">Inició</a>
              </div>
            </div>
          
      </div>
     
    </div>
    <app-footer></app-footer>
  