
   
.h2{

    text-align: center;

    font-family: 'LaBelleAurore';
    src: url(/assets/fonts/LaBelleAurore-Regular.ttf);
    font-size: 10mm;


}
.h6{
    text-align: justify;
    font-family: 'LaBelleAurore';
    src: url(/assets/fonts/LaBelleAurore-Regular.ttf);
   
    font-size: 10mm;
    

}
.parrafo{
    text-align: center;
    font-family: 'LaBelleAurore';
    src: url(/assets/fonts/LaBelleAurore-Regular.ttf);
   
    font-size: 4mm;


}
.col-sm-8{
    background:#f0f0ff;
    text-align: justify;
    width: 600px;
 
    
}
@font-face {
    font-family: 'LaBelleAurore';
    src: url(/assets/fonts/LaBelleAurore-Regular.ttf);
  
  }

  .card-text{
    font-family: 'LaBelleAurore';
    src: url(/assets/fonts/LaBelleAurore-Regular.ttf);
   
    font-size: 4mm;


  }
  h4{
    font-family: 'LaBelleAurore';
    src: url(/assets/fonts/LaBelleAurore-Regular.ttf);
   
    font-size: 9mm;


  }